@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');

@font-face{
    font-family: Robota;
    src: url("Police/robota/Robota-NonCommercial.otf")
}

body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: "Robota";
   background: black;
   background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
   color: whitesmoke;
   font-size: 40px;
}

button 
{
 
    border-radius: 20px;
    color : white;
    font-family: "Robota";
    font-size: 20px;
    background-color: black;
    background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');


}
input
{
    border: none;
    border-radius: 20px;
    color : white;
    font-family: "Robota";
    font-size: 20px;
    background-color: black;
    background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    color: white;

}

h1{
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

.neons {
   margin-top: 10rem;
   text-align: center;
}

.neons h1 {
  font-size: 9rem;
  text-align: center;
   font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
     from {
      color: #fff;
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red, 0 0 90px red;
  }
  
  to {
     color: gray;
    text-shadow: 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red, 0 0 80px red, 0 1 90px red;
  }
}

#minuteur_flex
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    size : 100px;
    
}

#minuteur
{
    text-align: center;
    margin-right: 400px;
    margin-bottom: 248px;
}

#chrono{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}

#margin_tab{
    text-align: center;
}

#chronosec
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 10px;
}

#hchro
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    
}

#reveil{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-right: 400px;

}

#flex_reveil{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

 #horloge{
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-content:  center;
 }

 #heure{
     text-align: center;
 }

 .section_flexminchro
 {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
 }

